@charset "UTF-8";
nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 300px;
    background: rgba(39, 96, 187, 0.89);
    padding-top: 150px;
    transform: translateX(300px);
    transition: all 0.5s;
    z-index: 10;
}

nav.open {
    transform: translateX(0);
}

nav li {
    color: white;
    font-size: 30px;
    margin: 40px;
    text-align: center;
}

nav li a {
    color: white;
    text-decoration: none;
}

#side-guide {
    font-size: 20px;
    line-height: 40px;
}

.overlay {
    content: "";
    display: block;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    transition: opacity .5s;
}

.overlay.open {
    width: 100%;
    height: 1850px;
    opacity: 1;
}